@import 'node_modules/azure-devops-ui/Core/_platformCommon.scss';

.empty-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
  color: $primary-text;
}

.empty-data-text {
  font-size: 1.25rem;
  text-align: center;
  margin: 4rem 0;
}
