@import 'azure-devops-ui/Core/_platformCommon.scss';

.reviewers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reviewers-container-hidden {
  position: absolute;
  left: 1000%;
  opacity: 0;
}

td.bolt-table-cell-content.no-padding.bolt-table-cell.bolt-list-cell > div {
  justify-content: center;
}

.tooltip-overflow-container {
  background-color: $tooltip-background-color;
  color: $backgroundColor;
  padding: 12px 12px 12px 8px;
  border-radius: 4px;
}

.tooltip-overflow-child:first-of-type {
  margin-top: 8px;
}

.tooltip-overflow-child + .tooltip-overflow-child {
  margin-top: 8px;
}

.bolt-pill-group.overflow-wrap > .bolt-pill-group-inner {
  margin-bottom: 8px;
}

.tooltip-overflow .bolt-tooltip-content {
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  box-shadow: 0 1.6px 3.6px 0 var(--callout-shadow-color, rgba(0, 0, 0, 0.132)),
    0 0.3px 0.9px 0 var(--callout-shadow-secondary-color, rgba(0, 0, 0, 0.108));
}
