button.branch-button {
  height: 32px;
  overflow: hidden;
}

button.branch-button:hover,
button.branch-button:active {
  color: var(--palette-primary-darkened-10);
}

.branch-button > span:last-child {
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 256px;
}
