@import '~azure-devops-ui/Core/platformCommon';

.tag-container {
  display: inline-flex;
  margin: 0 4px;
  border-radius: 4px;
}

.tag-text {
  text-transform: capitalize;
  padding: 0 6px;
  font-size: 12px;
}
