.vss-persona {
  margin: 0;
  padding: 0.125rem;
}

.reviewers {
  display: flex;
  align-items: center;
}

.approval-status {
  display: flex;
  align-items: center;
  line-height: 22px;
}

.filter-bar {
  margin-bottom: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  .filter-bar {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: 1fr;
  }
}

.search-box::placeholder {
  font-size: 0.8rem;
}

.search-box-container {
  display: flex;
  align-items: center;
  grid-column: span 2 / auto;
}

.search-box {
  width: 100%;
  height: 100%;
  margin-left: 0.5rem;
  padding-left: 0.75rem;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.25rem;
}

.search-box:hover {
  border-color: hsl(0, 0%, 70%);
}

.search-box:focus {
  outline: 2px solid #2684ff;
}
