.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search-box {
  flex: 0 1 20%;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  padding-left: 12px;
}

.search-box:hover {
  border-color: hsl(0, 0%, 70%);
}

.search-box:focus {
  outline: 2px solid #2684ff;
}

.filter-bar-item {
  flex: 0 1 12.5%;
  min-width: 0;
}
